MONGO_URI=mongodb://127.0.0.1:27017/cinematic-picks
JWT_SECRET=replace-with-a-strong-secret
GOOGLE_CLIENT_ID=267641302822-2ldqus2bas37j8m0d53d9smmi5ar2kng.apps.googleusercontent.com
PORT=4000
VITE_API_URL=https://movieflix-hdhx.onrender.com
VITE_GOOGLE_CLIENT_ID=267641302822-2ldqus2bas37j8m0d53d9smmi5ar2kng.apps.googleusercontent.com
